In [2]:
import pandas as pd
pd.set_option('display.max_columns', 50)

# Template Notebook

The simplest setup for contributing to this project is by writing jupyter notebooks using Anaconda distribution. It simplifies the installation, environment management and provides you all the basic tools that will be required.

Each notebook has a name of a fixed pattern. The filename/title is 0_0_topic_name.ipynb. 

The first cell will always be a markdown cell that describes the topic and introduces the content that will follow up. For example following shows the first few lines from a jupyter notebook about Classes in Python. 



Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together.

# Data Structures

### data structure
An organization of data for the purpose of making it easier to use.
### immutable data value
A data value which cannot be modified. Assignments to elements or slices (sub-parts) of immutable values cause a runtime error.
### mutable data value
A data value which can be modified. The types of all mutable values are compound types. Lists and dictionaries are mutable; strings and tuples are not.


## Following are the primary Data Structures that we will study:
**1. Strings**
Collection of unicode characters. It is indexed and immutable, "hello world!"

**2. Lists**
Collection of elements. It is indexed and mutable. Allows duplicates, \[10,20,30\]

**3. Tuple**
Collection which can be indexed but immutable, (apple, 250)

**4. Set**
Collection of unordered elements that doesn't allow repetitions, {apple, orange}

**5. Dictionary**
Collection of Key-Value pairs, {key:value}

# Control Flow

A program’s control flow is the order in which the program’s code executes. The control flow of a Python program is regulated by conditional statements, loops, and function calls. This section covers the if statement and for and while loops; functions are covered in the next class.

![](https://www.researchgate.net/profile/Kay_Smarsly/publication/322509045/figure/fig1/AS:583153716215809@1516046088625/Control-flow-of-elementary-control-structures.png)

# The if Statement

Often, you need to execute some statements only if some condition holds, or choose statements to execute depending on several mutually exclusive conditions. The Python compound statement if, which uses if, elif, and else clauses, lets you conditionally execute blocks of statements. 

## Comparision Operators
- x == y
- x!= y
- x < y
- x <= y
- x > y
- x >= y

## Python Indentation
In Python, the code blocks are defined by a set of common or consistent number of spaces. This is called Python Indentation.

The block scope will end at the first un-indented line.

The best practice is to use on Tab space.

##  Quick Task 1.1: Fizz Buzz
Write code to print all the numbers upto a given number "N", replacing every multiple of 3 by the word "fizz" and multiple of 5 by the word "buzz", and multiples of both 3 and 5 by "fizzbuzz"

For N=7, print the output:\
1 2 fizz 4 buzz fizz 7

All the items are printed in the same line

In [6]:
max_num = 16

for fizzbuzz in range(1, max_num+1):
    if fizzbuzz%3==0 and fizzbuzz%5==0:
        print ("Fizzbuzz")
    elif fizzbuzz % 3 == 0:
        print ("Fizz")
    elif fizzbuzz%5 ==0:
        print ("Buzz")
    else:
        print (fizzbuzz)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizzbuzz
16

## Quick Task 1.2: Wordcount

Given a sentence, find how many times each word occured

sentence = "hello this is a nice morning we have this class very morning"\
this: 2\
nice: 1\
morning: 2\
... and so on

In [18]:
sentence = "hello this is a nice morning we have this class very morning"

worddictionary = dict()

words = sentence.split(' ')

for word in words:
#     print ("Reading the word "+word)
#     print (worddictionary)
#     print ()
    if word in worddictionary:
        worddictionary[word]= worddictionary[word] + 1
    else:
        worddictionary[word]= 1
#     input()

worddictionary

In [19]:
username =input ("Enter your name")
print ("Hello "+username)

Enter your nameAditya
Hello Aditya

# Functions in Python

Function is a group of statements that performs a specific task.

## Advantages:

- Makes your code more organized and manageable.
- Brings code reusability.

## Function Syantax:
```
def <function name>([parameters]):
    '''Doc string'''
    Logic/statements
    ...
    ...
    return value/print(value)
```
**def** - marks the start of the function header.\
**function name** - a unique name to idenfity the function, this naming follows the same checklist we learnt in variable naming.\
**parameters/arguments** - used to pass a value to the function while calling. These are optional.\
**Doc String** - a short description about the function. This is optional.\
**Logic/statements** - one or more valid python statements to perform the required task.\
**return** - this will return a value from the funxtion. Optional.\
**print** - to display a value from the fucntion. Optional.

## Quick Task 1.3: Create a Loan Interest Calculator Using Simple Interest

Create a function that takes price, downpayment, rate of interest and time duration (computed yearly). Return the total amount user has to pay due to the interest excluding downpayment.

In [21]:
def get_amount(price, downpayment, rate, time):
    principle = price - downpayment
    interest = principle * rate * time/100
    amount = principle + interest
    return amount

print (   get_amount(1000, 200, 4, 10)  )

1120.0

Exploratory Data Analysis refers to the critical process of performing initial investigations on data so as to discover patterns,to spot anomalies,to test hypothesis and to check assumptions with the help of summary statistics and graphical representations.

## Why do we do EDA?
 - to understand nature and volume of data
 - critical analysis
 - find insights and patterns
 - find missing data

![Data Science Life Cycle](http://www.cortell.co.za/wp-content/uploads/2018/06/chart.png)

# Univariate Analysis

Univariate analysis is the simplest form of data analysis where the data being analyzed contains only one variable. Since it's a single variable it doesn’t deal with causes or relationships.  The main purpose of univariate analysis is to describe the data and find patterns that exist within it.

You can think of the variable as a category that your data falls into. One example of a variable in univariate analysis might be "age". Another might be "height". Univariate analysis would not look at these two variables at the same time, nor would it look at the relationship between them.

Some ways you can describe patterns found in univariate data include looking at mean, mode, median, range, variance, maximum, minimum, quartiles, and standard deviation. Additionally, some ways you may display univariate data include frequency distribution tables, bar charts, histograms, frequency polygons, and pie charts.

# Bivariate Analysis
Bivariate analysis is used to find out if there is a relationship between two different variables. Something as simple as creating a scatterplot by plotting one variable against another on a Cartesian plane (think X and Y axis) can sometimes give you a picture of what the data is trying to tell you. If the data seems to fit a line or curve then there is a relationship or correlation between the two variables.  For example, one might choose to plot caloric intake versus weight.

# Multivariate Analysis
Multivariate analysis is the analysis of three or more variables.  There are many ways to perform multivariate analysis depending on your goals.

This is relatively more complex and requires advanced understanding of statistics and data analysis methods.

# Univariate Analysis vs Bivariate Analysis
| **Univariate Analysis**                           | **Bivariate Analysis**                                           |
|-----------------------------------------------|--------------------------------------------------------------|
| Involves a single variable                    | Involves two variables                                       |
| Deals with intrinsic property of the data     | Deals with cause and relationships between the two variables |
| Major purpose is to describe                  | Major purpose is to explain                                  |
| Mean, Median, Mode, Range, Standard Deviation | Correlation, Relationships, Causal Explanations              |


Classical statistics focused almost exclusively on inference, a sometimes complex set of procedures for drawing conclusions about large populations based on small samples. In 1962, John W. Tukey called for a reformation of statistics in his seminal paper “The Future of Data Analysis”. He proposed a new scientific discipline called data analysis that included statistical inference as just one component. Tukey forged links to the engineering and computer science communities (he coined the terms bit, short for binary digit, and software), and his original tenets are suprisingly durable and form part of the foundation for data science. The field of exploratory data analysis was established with Tukey’s 1977 now-classic book Exploratory Data Analysis

People are not very good at looking at a column of numbers or a whole spreadsheet and then determining important characteristics of the data. They find looking at numbers to be tedious, boring, and/or overwhelming. Exploratory data analysis is generally cross-classified in two ways. First, each method is either non-graphical or graphical. And second, each method is either
univariate or multivariate (usually just bivariate). Each of the categories of EDA have further divisions based on the role (outcome or explanatory) and type (categorical or quantitative) of the variable(s) being examined.

# The Dataset

The sinking of the Titanic is one of the most infamous shipwrecks in history.

On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone onboard, resulting in the death of 1502 out of 2224 passengers and crew.

While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others. In this experiment, we will analyze and find patterns that indicate who might have a better chance at survival.

The dataset shared here is public information, though these files are sourced from Kaggle. After this 2-Day course, you are encouraged to attempt the open challenge at https://www.kaggle.com/c/titanic

# Reading a File

We have shared a file in CSV format. How do we read it in python?

## Quick Task 1.4: Using the open() method

In [23]:
fvar = open("../data/train.csv") 
# f = open("data/train.csv", 'r')

If there was an error, either the file isn't at the right place or you need to write the path properly.

In [25]:
fvar.read()

'PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked\n1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S\n2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C\n3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,,S\n4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S\n5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,,S\n6,0,3,"Moran, Mr. James",male,,0,0,330877,8.4583,,Q\n7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S\n8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,,S\n9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S\n10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,,C\n11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7,G6,S\n12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.55,C103,S\n13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.05,,S\n14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.275,,S\n15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,,S\n16,1,2,"Hewlett, Mrs. (Mary D Kingcome) ",female,55,0,0,248706,16,,S\n17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.125,,Q\n18,1,2,"Williams, Mr. Charles Eugene",male,,0,0,244373,13,,S\n19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31,1,0,345763,18,,S\n20,1,3,"Masselmani, Mrs. Fatima",female,,0,0,2649,7.225,,C\n21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26,,S\n22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13,D56,S\n23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,,Q\n24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5,A6,S\n25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.075,,S\n26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38,1,5,347077,31.3875,,S\n27,0,3,"Emir, Mr. Farred Chehab",male,,0,0,2631,7.225,,C\n28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263,C23 C25 C27,S\n29,1,3,"O\'Dwyer, Miss. Ellen ""Nellie""",female,,0,0,330959,7.8792,,Q\n30,0,3,"Todoroff, Mr. Lalio",male,,0,0,349216,7.8958,,S\n31,0,1,"Uruchurtu, Don. Manuel E",male,40,0,0,PC 17601,27.7208,,C\n32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,,1,0,PC 17569,146.5208,B78,C\n33,1,3,"Glynn, Miss. Mary Agatha",female,,0,0,335677,7.75,,Q\n34,0,2,"Wheadon, Mr. Edward H",male,66,0,0,C.A. 24579,10.5,,S\n35,0,1,"Meyer, Mr. Edgar Joseph",male,28,1,0,PC 17604,82.1708,,C\n36,0,1,"Holverson, Mr. Alexander Oskar",male,42,1,0,113789,52,,S\n37,1,3,"Mamee, Mr. Hanna",male,,0,0,2677,7.2292,,C\n38,0,3,"Cann, Mr. Ernest Charles",male,21,0,0,A./5. 2152,8.05,,S\n39,0,3,"Vander Planke, Miss. Augusta Maria",female,18,2,0,345764,18,,S\n40,1,3,"Nicola-Yarred, Miss. Jamila",female,14,1,0,2651,11.2417,,C\n41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40,1,0,7546,9.475,,S\n42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27,1,0,11668,21,,S\n43,0,3,"Kraeff, Mr. Theodor",male,,0,0,349253,7.8958,,C\n44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3,1,2,SC/Paris 2123,41.5792,,C\n45,1,3,"Devaney, Miss. Margaret Delia",female,19,0,0,330958,7.8792,,Q\n46,0,3,"Rogers, Mr. William John",male,,0,0,S.C./A.4. 23567,8.05,,S\n47,0,3,"Lennon, Mr. Denis",male,,1,0,370371,15.5,,Q\n48,1,3,"O\'Driscoll, Miss. Bridget",female,,0,0,14311,7.75,,Q\n49,0,3,"Samaan, Mr. Youssef",male,,2,0,2662,21.6792,,C\n50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18,1,0,349237,17.8,,S\n51,0,3,"Panula, Master. Juha Niilo",male,7,4,1,3101295,39.6875,,S\n52,0,3,"Nosworthy, Mr. Richard Cater",male,21,0,0,A/4. 39886,7.8,,S\n53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49,1,0,PC 17572,76.7292,D33,C\n54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29,1,0,2926,26,,S\n55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65,0,1,113509,61.9792,B30,C\n56,1,1,"Woolner, Mr. Hugh",male,,0,0,19947,35.5,C52,S\n57,1,2,"Rugg, Miss. Emily",female,21,0,0,C.A. 31026,10.5,,S\n58,0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,,C\n59,1,2,"West, Miss. Constance Mirium",female,5,1,2,C.A. 34651,27.75,,S\n60,0,3,"Goodwin, Master. William Frederick",male,11,5,2,CA 2144,46.9,,S\n61,0,3,"Sirayanian, Mr. Orsen",male,22,0,0,2669,7.2292,,C\n62,1,1,"Icard, Miss. Amelie",female,38,0,0,113572,80,B28,\n63,0,1,"Harris, Mr. Henry Birkhardt",male,45,1,0,36973,83.475,C83,S\n64,0,3,"Skoog, Master. Harald",male,4,3,2,347088,27.9,,S\n65,0,1,"Stewart, Mr. Albert A",male,,0,0,PC 17605,27.7208,,C\n66,1,3,"Moubarek, Master. Gerios",male,,1,1,2661,15.2458,,C\n67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29,0,0,C.A. 29395,10.5,F33,S\n68,0,3,"Crease, Mr. Ernest James",male,19,0,0,S.P. 3464,8.1583,,S\n69,1,3,"Andersson, Miss. Erna Alexandra",female,17,4,2,3101281,7.925,,S\n70,0,3,"Kink, Mr. Vincenz",male,26,2,0,315151,8.6625,,S\n71,0,2,"Jenkin, Mr. Stephen Curnow",male,32,0,0,C.A. 33111,10.5,,S\n72,0,3,"Goodwin, Miss. Lillian Amy",female,16,5,2,CA 2144,46.9,,S\n73,0,2,"Hood, Mr. Ambrose Jr",male,21,0,0,S.O.C. 14879,73.5,,S\n74,0,3,"Chronopoulos, Mr. Apostolos",male,26,1,0,2680,14.4542,,C\n75,1,3,"Bing, Mr. Lee",male,32,0,0,1601,56.4958,,S\n76,0,3,"Moen, Mr. Sigurd Hansen",male,25,0,0,348123,7.65,F G73,S\n77,0,3,"Staneff, Mr. Ivan",male,,0,0,349208,7.8958,,S\n78,0,3,"Moutal, Mr. Rahamin Haim",male,,0,0,374746,8.05,,S\n79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29,,S\n80,1,3,"Dowdell, Miss. Elizabeth",female,30,0,0,364516,12.475,,S\n81,0,3,"Waelens, Mr. Achille",male,22,0,0,345767,9,,S\n82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29,0,0,345779,9.5,,S\n83,1,3,"McDermott, Miss. Brigdet Delia",female,,0,0,330932,7.7875,,Q\n84,0,1,"Carrau, Mr. Francisco M",male,28,0,0,113059,47.1,,S\n85,1,2,"Ilett, Miss. Bertha",female,17,0,0,SO/C 14885,10.5,,S\n86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33,3,0,3101278,15.85,,S\n87,0,3,"Ford, Mr. William Neal",male,16,1,3,W./C. 6608,34.375,,S\n88,0,3,"Slocovski, Mr. Selman Francis",male,,0,0,SOTON/OQ 392086,8.05,,S\n89,1,1,"Fortune, Miss. Mabel Helen",female,23,3,2,19950,263,C23 C25 C27,S\n90,0,3,"Celotti, Mr. Francesco",male,24,0,0,343275,8.05,,S\n91,0,3,"Christmann, Mr. Emil",male,29,0,0,343276,8.05,,S\n92,0,3,"Andreasson, Mr. Paul Edvin",male,20,0,0,347466,7.8542,,S\n93,0,1,"Chaffee, Mr. Herbert Fuller",male,46,1,0,W.E.P. 5734,61.175,E31,S\n94,0,3,"Dean, Mr. Bertram Frank",male,26,1,2,C.A. 2315,20.575,,S\n95,0,3,"Coxon, Mr. Daniel",male,59,0,0,364500,7.25,,S\n96,0,3,"Shorney, Mr. Charles Joseph",male,,0,0,374910,8.05,,S\n97,0,1,"Goldschmidt, Mr. George B",male,71,0,0,PC 17754,34.6542,A5,C\n98,1,1,"Greenfield, Mr. William Bertram",male,23,0,1,PC 17759,63.3583,D10 D12,C\n99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34,0,1,231919,23,,S\n100,0,2,"Kantor, Mr. Sinai",male,34,1,0,244367,26,,S\n101,0,3,"Petranec, Miss. Matilda",female,28,0,0,349245,7.8958,,S\n102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,,0,0,349215,7.8958,,S\n103,0,1,"White, Mr. Richard Frasar",male,21,0,1,35281,77.2875,D26,S\n104,0,3,"Johansson, Mr. Gustaf Joel",male,33,0,0,7540,8.6542,,S\n105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37,2,0,3101276,7.925,,S\n106,0,3,"Mionoff, Mr. Stoytcho",male,28,0,0,349207,7.8958,,S\n107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21,0,0,343120,7.65,,S\n108,1,3,"Moss, Mr. Albert Johan",male,,0,0,312991,7.775,,S\n109,0,3,"Rekic, Mr. Tido",male,38,0,0,349249,7.8958,,S\n110,1,3,"Moran, Miss. Bertha",female,,1,0,371110,24.15,,Q\n111,0,1,"Porter, Mr. Walter Chamberlain",male,47,0,0,110465,52,C110,S\n112,0,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,,C\n113,0,3,"Barton, Mr. David John",male,22,0,0,324669,8.05,,S\n114,0,3,"Jussila, Miss. Katriina",female,20,1,0,4136,9.825,,S\n115,0,3,"Attalah, Miss. Malake",female,17,0,0,2627,14.4583,,C\n116,0,3,"Pekoniemi, Mr. Edvard",male,21,0,0,STON/O 2. 3101294,7.925,,S\n117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.75,,Q\n118,0,2,"Turpin, Mr. William John Robert",male,29,1,0,11668,21,,S\n119,0,1,"Baxter, Mr. Quigg Edmond",male,24,0,1,PC 17558,247.5208,B58 B60,C\n120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2,4,2,347082,31.275,,S\n121,0,2,"Hickman, Mr. Stanley George",male,21,2,0,S.O.C. 14879,73.5,,S\n122,0,3,"Moore, Mr. Leonard Charles",male,,0,0,A4. 54510,8.05,,S\n123,0,2,"Nasser, Mr. Nicholas",male,32.5,1,0,237736,30.0708,,C\n124,1,2,"Webber, Miss. Susan",female,32.5,0,0,27267,13,E101,S\n125,0,1,"White, Mr. Percival Wayland",male,54,0,1,35281,77.2875,D26,S\n126,1,3,"Nicola-Yarred, Master. Elias",male,12,1,0,2651,11.2417,,C\n127,0,3,"McMahon, Mr. Martin",male,,0,0,370372,7.75,,Q\n128,1,3,"Madsen, Mr. Fridtjof Arne",male,24,0,0,C 17369,7.1417,,S\n129,1,3,"Peter, Miss. Anna",female,,1,1,2668,22.3583,F E69,C\n130,0,3,"Ekstrom, Mr. Johan",male,45,0,0,347061,6.975,,S\n131,0,3,"Drazenoic, Mr. Jozef",male,33,0,0,349241,7.8958,,C\n132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20,0,0,SOTON/O.Q. 3101307,7.05,,S\n133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47,1,0,A/5. 3337,14.5,,S\n134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29,1,0,228414,26,,S\n135,0,2,"Sobey, Mr. Samuel James Hayden",male,25,0,0,C.A. 29178,13,,S\n136,0,2,"Richard, Mr. Emile",male,23,0,0,SC/PARIS 2133,15.0458,,C\n137,1,1,"Newsom, Miss. Helen Monypeny",female,19,0,2,11752,26.2833,D47,S\n138,0,1,"Futrelle, Mr. Jacques Heath",male,37,1,0,113803,53.1,C123,S\n139,0,3,"Osen, Mr. Olaf Elon",male,16,0,0,7534,9.2167,,S\n140,0,1,"Giglio, Mr. Victor",male,24,0,0,PC 17593,79.2,B86,C\n141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,,0,2,2678,15.2458,,C\n142,1,3,"Nysten, Miss. Anna Sofia",female,22,0,0,347081,7.75,,S\n143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)",female,24,1,0,STON/O2. 3101279,15.85,,S\n144,0,3,"Burke, Mr. Jeremiah",male,19,0,0,365222,6.75,,Q\n145,0,2,"Andrew, Mr. Edgardo Samuel",male,18,0,0,231945,11.5,,S\n146,0,2,"Nicholls, Mr. Joseph Charles",male,19,1,1,C.A. 33112,36.75,,S\n147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27,0,0,350043,7.7958,,S\n148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9,2,2,W./C. 6608,34.375,,S\n149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26,F2,S\n150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42,0,0,244310,13,,S\n151,0,2,"Bateman, Rev. Robert James",male,51,0,0,S.O.P. 1166,12.525,,S\n152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22,1,0,113776,66.6,C2,S\n153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.05,,S\n154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5,,S\n155,0,3,"Olsen, Mr. Ole Martin",male,,0,0,Fa 265302,7.3125,,S\n156,0,1,"Williams, Mr. Charles Duane",male,51,0,1,PC 17597,61.3792,,C\n157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16,0,0,35851,7.7333,,Q\n158,0,3,"Corn, Mr. Harry",male,30,0,0,SOTON/OQ 392090,8.05,,S\n159,0,3,"Smiljanic, Mr. Mile",male,,0,0,315037,8.6625,,S\n160,0,3,"Sage, Master. Thomas Henry",male,,8,2,CA. 2343,69.55,,S\n161,0,3,"Cribb, Mr. John Hatfield",male,44,0,1,371362,16.1,,S\n162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)",female,40,0,0,C.A. 33595,15.75,,S\n163,0,3,"Bengtsson, Mr. John Viktor",male,26,0,0,347068,7.775,,S\n164,0,3,"Calic, Mr. Jovo",male,17,0,0,315093,8.6625,,S\n165,0,3,"Panula, Master. Eino Viljami",male,1,4,1,3101295,39.6875,,S\n166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9,0,2,363291,20.525,,S\n167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,,0,1,113505,55,E33,S\n168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45,1,4,347088,27.9,,S\n169,0,1,"Baumann, Mr. John D",male,,0,0,PC 17318,25.925,,S\n170,0,3,"Ling, Mr. Lee",male,28,0,0,1601,56.4958,,S\n171,0,1,"Van der hoef, Mr. Wyckoff",male,61,0,0,111240,33.5,B19,S\n172,0,3,"Rice, Master. Arthur",male,4,4,1,382652,29.125,,Q\n173,1,3,"Johnson, Miss. Eleanor Ileen",female,1,1,1,347742,11.1333,,S\n174,0,3,"Sivola, Mr. Antti Wilhelm",male,21,0,0,STON/O 2. 3101280,7.925,,S\n175,0,1,"Smith, Mr. James Clinch",male,56,0,0,17764,30.6958,A7,C\n176,0,3,"Klasen, Mr. Klas Albin",male,18,1,1,350404,7.8542,,S\n177,0,3,"Lefebre, Master. Henry Forbes",male,,3,1,4133,25.4667,,S\n178,0,1,"Isham, Miss. Ann Elizabeth",female,50,0,0,PC 17595,28.7125,C49,C\n179,0,2,"Hale, Mr. Reginald",male,30,0,0,250653,13,,S\n180,0,3,"Leonard, Mr. Lionel",male,36,0,0,LINE,0,,S\n181,0,3,"Sage, Miss. Constance Gladys",female,,8,2,CA. 2343,69.55,,S\n182,0,2,"Pernot, Mr. Rene",male,,0,0,SC/PARIS 2131,15.05,,C\n183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9,4,2,347077,31.3875,,S\n184,1,2,"Becker, Master. Richard F",male,1,2,1,230136,39,F4,S\n185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4,0,2,315153,22.025,,S\n186,0,1,"Rood, Mr. Hugh Roscoe",male,,0,0,113767,50,A32,S\n187,1,3,"O\'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,,1,0,370365,15.5,,Q\n188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45,0,0,111428,26.55,,S\n189,0,3,"Bourke, Mr. John",male,40,1,1,364849,15.5,,Q\n190,0,3,"Turcin, Mr. Stjepan",male,36,0,0,349247,7.8958,,S\n191,1,2,"Pinsky, Mrs. (Rosa)",female,32,0,0,234604,13,,S\n192,0,2,"Carbines, Mr. William",male,19,0,0,28424,13,,S\n193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19,1,0,350046,7.8542,,S\n194,1,2,"Navratil, Master. Michel M",male,3,1,1,230080,26,F2,S\n195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44,0,0,PC 17610,27.7208,B4,C\n196,1,1,"Lurette, Miss. Elise",female,58,0,0,PC 17569,146.5208,B80,C\n197,0,3,"Mernagh, Mr. Robert",male,,0,0,368703,7.75,,Q\n198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42,0,1,4579,8.4042,,S\n199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,,0,0,370370,7.75,,Q\n200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24,0,0,248747,13,,S\n201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28,0,0,345770,9.5,,S\n202,0,3,"Sage, Mr. Frederick",male,,8,2,CA. 2343,69.55,,S\n203,0,3,"Johanson, Mr. Jakob Alfred",male,34,0,0,3101264,6.4958,,S\n204,0,3,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.225,,C\n205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18,0,0,A/5 3540,8.05,,S\n206,0,3,"Strom, Miss. Telma Matilda",female,2,0,1,347054,10.4625,G6,S\n207,0,3,"Backstrom, Mr. Karl Alfred",male,32,1,0,3101278,15.85,,S\n208,1,3,"Albimona, Mr. Nassef Cassem",male,26,0,0,2699,18.7875,,C\n209,1,3,"Carr, Miss. Helen ""Ellen""",female,16,0,0,367231,7.75,,Q\n210,1,1,"Blank, Mr. Henry",male,40,0,0,112277,31,A31,C\n211,0,3,"Ali, Mr. Ahmed",male,24,0,0,SOTON/O.Q. 3101311,7.05,,S\n212,1,2,"Cameron, Miss. Clear Annie",female,35,0,0,F.C.C. 13528,21,,S\n213,0,3,"Perkin, Mr. John Henry",male,22,0,0,A/5 21174,7.25,,S\n214,0,2,"Givard, Mr. Hans Kristensen",male,30,0,0,250646,13,,S\n215,0,3,"Kiernan, Mr. Philip",male,,1,0,367229,7.75,,Q\n216,1,1,"Newell, Miss. Madeleine",female,31,1,0,35273,113.275,D36,C\n217,1,3,"Honkanen, Miss. Eliina",female,27,0,0,STON/O2. 3101283,7.925,,S\n218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42,1,0,243847,27,,S\n219,1,1,"Bazzani, Miss. Albina",female,32,0,0,11813,76.2917,D15,C\n220,0,2,"Harris, Mr. Walter",male,30,0,0,W/C 14208,10.5,,S\n221,1,3,"Sunderland, Mr. Victor Francis",male,16,0,0,SOTON/OQ 392089,8.05,,S\n222,0,2,"Bracken, Mr. James H",male,27,0,0,220367,13,,S\n223,0,3,"Green, Mr. George Henry",male,51,0,0,21440,8.05,,S\n224,0,3,"Nenkoff, Mr. Christo",male,,0,0,349234,7.8958,,S\n225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38,1,0,19943,90,C93,S\n226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22,0,0,PP 4348,9.35,,S\n227,1,2,"Mellors, Mr. William John",male,19,0,0,SW/PP 751,10.5,,S\n228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.25,,S\n229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18,0,0,236171,13,,S\n230,0,3,"Lefebre, Miss. Mathilde",female,,3,1,4133,25.4667,,S\n231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35,1,0,36973,83.475,C83,S\n232,0,3,"Larsson, Mr. Bengt Edvin",male,29,0,0,347067,7.775,,S\n233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59,0,0,237442,13.5,,S\n234,1,3,"Asplund, Miss. Lillian Gertrud",female,5,4,2,347077,31.3875,,S\n235,0,2,"Leyson, Mr. Robert William Norman",male,24,0,0,C.A. 29566,10.5,,S\n236,0,3,"Harknett, Miss. Alice Phoebe",female,,0,0,W./C. 6609,7.55,,S\n237,0,2,"Hold, Mr. Stephen",male,44,1,0,26707,26,,S\n238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8,0,2,C.A. 31921,26.25,,S\n239,0,2,"Pengelly, Mr. Frederick William",male,19,0,0,28665,10.5,,S\n240,0,2,"Hunt, Mr. George Henry",male,33,0,0,SCO/W 1585,12.275,,S\n241,0,3,"Zabour, Miss. Thamine",female,,1,0,2665,14.4542,,C\n242,1,3,"Murphy, Miss. Katherine ""Kate""",female,,1,0,367230,15.5,,Q\n243,0,2,"Coleridge, Mr. Reginald Charles",male,29,0,0,W./C. 14263,10.5,,S\n244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22,0,0,STON/O 2. 3101275,7.125,,S\n245,0,3,"Attalah, Mr. Sleiman",male,30,0,0,2694,7.225,,C\n246,0,1,"Minahan, Dr. William Edward",male,44,2,0,19928,90,C78,Q\n247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25,0,0,347071,7.775,,S\n248,1,2,"Hamalainen, Mrs. William (Anna)",female,24,0,2,250649,14.5,,S\n249,1,1,"Beckwith, Mr. Richard Leonard",male,37,1,1,11751,52.5542,D35,S\n250,0,2,"Carter, Rev. Ernest Courtenay",male,54,1,0,244252,26,,S\n251,0,3,"Reed, Mr. James George",male,,0,0,362316,7.25,,S\n252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29,1,1,347054,10.4625,G6,S\n253,0,1,"Stead, Mr. William Thomas",male,62,0,0,113514,26.55,C87,S\n254,0,3,"Lobb, Mr. William Arthur",male,30,1,0,A/5. 3336,16.1,,S\n255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41,0,2,370129,20.2125,,S\n256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29,0,2,2650,15.2458,,C\n257,1,1,"Thorne, Mrs. Gertrude Maybelle",female,,0,0,PC 17585,79.2,,C\n258,1,1,"Cherry, Miss. Gladys",female,30,0,0,110152,86.5,B77,S\n259,1,1,"Ward, Miss. Anna",female,35,0,0,PC 17755,512.3292,,C\n260,1,2,"Parrish, Mrs. (Lutie Davis)",female,50,0,1,230433,26,,S\n261,0,3,"Smith, Mr. Thomas",male,,0,0,384461,7.75,,Q\n262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3,4,2,347077,31.3875,,S\n263,0,1,"Taussig, Mr. Emil",male,52,1,1,110413,79.65,E67,S\n264,0,1,"Harrison, Mr. William",male,40,0,0,112059,0,B94,S\n265,0,3,"Henry, Miss. Delia",female,,0,0,382649,7.75,,Q\n266,0,2,"Reeves, Mr. David",male,36,0,0,C.A. 17248,10.5,,S\n267,0,3,"Panula, Mr. Ernesti Arvid",male,16,4,1,3101295,39.6875,,S\n268,1,3,"Persson, Mr. Ernst Ulrik",male,25,1,0,347083,7.775,,S\n269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58,0,1,PC 17582,153.4625,C125,S\n270,1,1,"Bissette, Miss. Amelia",female,35,0,0,PC 17760,135.6333,C99,S\n271,0,1,"Cairns, Mr. Alexander",male,,0,0,113798,31,,S\n272,1,3,"Tornquist, Mr. William Henry",male,25,0,0,LINE,0,,S\n273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",female,41,0,1,250644,19.5,,S\n274,0,1,"Natsch, Mr. Charles H",male,37,0,1,PC 17596,29.7,C118,C\n275,1,3,"Healy, Miss. Hanora ""Nora""",female,,0,0,370375,7.75,,Q\n276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63,1,0,13502,77.9583,D7,S\n277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45,0,0,347073,7.75,,S\n278,0,2,"Parkes, Mr. Francis ""Frank""",male,,0,0,239853,0,,S\n279,0,3,"Rice, Master. Eric",male,7,4,1,382652,29.125,,Q\n280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35,1,1,C.A. 2673,20.25,,S\n281,0,3,"Duane, Mr. Frank",male,65,0,0,336439,7.75,,Q\n282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28,0,0,347464,7.8542,,S\n283,0,3,"de Pelsmaeker, Mr. Alfons",male,16,0,0,345778,9.5,,S\n284,1,3,"Dorking, Mr. Edward Arthur",male,19,0,0,A/5. 10482,8.05,,S\n285,0,1,"Smith, Mr. Richard William",male,,0,0,113056,26,A19,S\n286,0,3,"Stankovic, Mr. Ivan",male,33,0,0,349239,8.6625,,C\n287,1,3,"de Mulder, Mr. Theodore",male,30,0,0,345774,9.5,,S\n288,0,3,"Naidenoff, Mr. Penko",male,22,0,0,349206,7.8958,,S\n289,1,2,"Hosono, Mr. Masabumi",male,42,0,0,237798,13,,S\n290,1,3,"Connolly, Miss. Kate",female,22,0,0,370373,7.75,,Q\n291,1,1,"Barber, Miss. Ellen ""Nellie""",female,26,0,0,19877,78.85,,S\n292,1,1,"Bishop, Mrs. Dickinson H (Helen Wal

### Discussion: 
What are the issues if we continue using this method?

## Easier Option
Don't re-invent the wheel

In [28]:
import csv

titanic = {}

with open('../data/train.csv', mode='r') as data:
    titanic = csv.DictReader(data)
    for line in titanic:
        print(line['Name'])

Braund, Mr. Owen Harris
Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Heikkinen, Miss. Laina
Futrelle, Mrs. Jacques Heath (Lily May Peel)
Allen, Mr. William Henry
Moran, Mr. James
McCarthy, Mr. Timothy J
Palsson, Master. Gosta Leonard
Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Nasser, Mrs. Nicholas (Adele Achem)
Sandstrom, Miss. Marguerite Rut
Bonnell, Miss. Elizabeth
Saundercock, Mr. William Henry
Andersson, Mr. Anders Johan
Vestrom, Miss. Hulda Amanda Adolfina
Hewlett, Mrs. (Mary D Kingcome)
Rice, Master. Eugene
Williams, Mr. Charles Eugene
Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
Masselmani, Mrs. Fatima
Fynney, Mr. Joseph J
Beesley, Mr. Lawrence
McGowan, Miss. Anna "Annie"
Sloper, Mr. William Thompson
Palsson, Miss. Torborg Danira
Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
Emir, Mr. Farred Chehab
Fortune, Mr. Charles Alexander
O'Dwyer, Miss. Ellen "Nellie"
Todoroff, Mr. Lalio
Uruchurtu, Don. Manuel E
Spencer, Mrs. William Augustus (Marie Eugenie)
Glynn, Miss. Mary Agatha
Wheadon, Mr. Edward H
Meyer, Mr. Edgar Joseph
Holverson, Mr. Alexander Oskar
Mamee, Mr. Hanna
Cann, Mr. Ernest Charles
Vander Planke, Miss. Augusta Maria
Nicola-Yarred, Miss. Jamila
Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)
Kraeff, Mr. Theodor
Laroche, Miss. Simonne Marie Anne Andree
Devaney, Miss. Margaret Delia
Rogers, Mr. William John
Lennon, Mr. Denis
O'Driscoll, Miss. Bridget
Samaan, Mr. Youssef
Arnold-Franchi, Mrs. Josef (Josefine Franchi)
Panula, Master. Juha Niilo
Nosworthy, Mr. Richard Cater
Harper, Mrs. Henry Sleeper (Myna Haxtun)
Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)
Ostby, Mr. Engelhart Cornelius
Woolner, Mr. Hugh
Rugg, Miss. Emily
Novel, Mr. Mansouer
West, Miss. Constance Mirium
Goodwin, Master. William Frederick
Sirayanian, Mr. Orsen
Icard, Miss. Amelie
Harris, Mr. Henry Birkhardt
Skoog, Master. Harald
Stewart, Mr. Albert A
Moubarek, Master. Gerios
Nye, Mrs. (Elizabeth Ramell)
Crease, Mr. Ernest James
Andersson, Miss. Erna Alexandra
Kink, Mr. Vincenz
Jenkin, Mr. Stephen Curnow
Goodwin, Miss. Lillian Amy
Hood, Mr. Ambrose Jr
Chronopoulos, Mr. Apostolos
Bing, Mr. Lee
Moen, Mr. Sigurd Hansen
Staneff, Mr. Ivan
Moutal, Mr. Rahamin Haim
Caldwell, Master. Alden Gates
Dowdell, Miss. Elizabeth
Waelens, Mr. Achille
Sheerlinck, Mr. Jan Baptist
McDermott, Miss. Brigdet Delia
Carrau, Mr. Francisco M
Ilett, Miss. Bertha
Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)
Ford, Mr. William Neal
Slocovski, Mr. Selman Francis
Fortune, Miss. Mabel Helen
Celotti, Mr. Francesco
Christmann, Mr. Emil
Andreasson, Mr. Paul Edvin
Chaffee, Mr. Herbert Fuller
Dean, Mr. Bertram Frank
Coxon, Mr. Daniel
Shorney, Mr. Charles Joseph
Goldschmidt, Mr. George B
Greenfield, Mr. William Bertram
Doling, Mrs. John T (Ada Julia Bone)
Kantor, Mr. Sinai
Petranec, Miss. Matilda
Petroff, Mr. Pastcho ("Pentcho")
White, Mr. Richard Frasar
Johansson, Mr. Gustaf Joel
Gustafsson, Mr. Anders Vilhelm
Mionoff, Mr. Stoytcho
Salkjelsvik, Miss. Anna Kristine
Moss, Mr. Albert Johan
Rekic, Mr. Tido
Moran, Miss. Bertha
Porter, Mr. Walter Chamberlain
Zabour, Miss. Hileni
Barton, Mr. David John
Jussila, Miss. Katriina
Attalah, Miss. Malake
Pekoniemi, Mr. Edvard
Connors, Mr. Patrick
Turpin, Mr. William John Robert
Baxter, Mr. Quigg Edmond
Andersson, Miss. Ellis Anna Maria
Hickman, Mr. Stanley George
Moore, Mr. Leonard Charles
Nasser, Mr. Nicholas
Webber, Miss. Susan
White, Mr. Percival Wayland
Nicola-Yarred, Master. Elias
McMahon, Mr. Martin
Madsen, Mr. Fridtjof Arne
Peter, Miss. Anna
Ekstrom, Mr. Johan
Drazenoic, Mr. Jozef
Coelho, Mr. Domingos Fernandeo
Robins, Mrs. Alexander A (Grace Charity Laury)
Weisz, Mrs. Leopold (Mathilde Francoise Pede)
Sobey, Mr. Samuel James Hayden
Richard, Mr. Emile
Newsom, Miss. Helen Monypeny
Futrelle, Mr. Jacques Heath
Osen, Mr. Olaf Elon
Giglio, Mr. Victor
Boulos, Mrs. Joseph (Sultana)
Nysten, Miss. Anna Sofia
Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)
Burke, Mr. Jeremiah
Andrew, Mr. Edgardo Samuel
Nicholls, Mr. Joseph Charles
Andersson, Mr. August Edvard ("Wennerstrom")
Ford, Miss. Robina Maggie "Ruby"
Navratil, Mr. Michel ("Louis M Hoffman")
Byles, Rev. Thomas Roussel Davids
Bateman, Rev. Robert James
Pears, Mrs. Thomas (Edith Wearne)
Meo, Mr. Alfonzo
van Billiard, Mr. Austin Blyler
Olsen, Mr. Ole Martin
Williams, Mr. Charles Duane
Gilnagh, Miss. Katherine "Katie"
Corn, Mr. Harry
Smiljanic, Mr. Mile
Sage, Master. Thomas Henry
Cribb, Mr. John Hatfield
Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)
Bengtsson, Mr. John Viktor
Calic, Mr. Jovo
Panula, Master. Eino Viljami
Goldsmith, Master. Frank John William "Frankie"
Chibnall, Mrs. (Edith Martha Bowerman)
Skoog, Mrs. William (Anna Bernhardina Karlsson)
Baumann, Mr. John D
Ling, Mr. Lee
Van der hoef, Mr. Wyckoff
Rice, Master. Arthur
Johnson, Miss. Eleanor Ileen
Sivola, Mr. Antti Wilhelm
Smith, Mr. James Clinch
Klasen, Mr. Klas Albin
Lefebre, Master. Henry Forbes
Isham, Miss. Ann Elizabeth
Hale, Mr. Reginald
Leonard, Mr. Lionel
Sage, Miss. Constance Gladys
Pernot, Mr. Rene
Asplund, Master. Clarence Gustaf Hugo
Becker, Master. Richard F
Kink-Heilmann, Miss. Luise Gretchen
Rood, Mr. Hugh Roscoe
O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
Romaine, Mr. Charles Hallace ("Mr C Rolmane")
Bourke, Mr. John
Turcin, Mr. Stjepan
Pinsky, Mrs. (Rosa)
Carbines, Mr. William
Andersen-Jensen, Miss. Carla Christine Nielsine
Navratil, Master. Michel M
Brown, Mrs. James Joseph (Margaret Tobin)
Lurette, Miss. Elise
Mernagh, Mr. Robert
Olsen, Mr. Karl Siegwart Andreas
Madigan, Miss. Margaret "Maggie"
Yrois, Miss. Henriette ("Mrs Harbeck")
Vande Walle, Mr. Nestor Cyriel
Sage, Mr. Frederick
Johanson, Mr. Jakob Alfred
Youseff, Mr. Gerious
Cohen, Mr. Gurshon "Gus"
Strom, Miss. Telma Matilda
Backstrom, Mr. Karl Alfred
Albimona, Mr. Nassef Cassem
Carr, Miss. Helen "Ellen"
Blank, Mr. Henry
Ali, Mr. Ahmed
Cameron, Miss. Clear Annie
Perkin, Mr. John Henry
Givard, Mr. Hans Kristensen
Kiernan, Mr. Philip
Newell, Miss. Madeleine
Honkanen, Miss. Eliina
Jacobsohn, Mr. Sidney Samuel
Bazzani, Miss. Albina
Harris, Mr. Walter
Sunderland, Mr. Victor Francis
Bracken, Mr. James H
Green, Mr. George Henry
Nenkoff, Mr. Christo
Hoyt, Mr. Frederick Maxfield
Berglund, Mr. Karl Ivar Sven
Mellors, Mr. William John
Lovell, Mr. John Hall ("Henry")
Fahlstrom, Mr. Arne Jonas
Lefebre, Miss. Mathilde
Harris, Mrs. Henry Birkhardt (Irene Wallach)
Larsson, Mr. Bengt Edvin
Sjostedt, Mr. Ernst Adolf
Asplund, Miss. Lillian Gertrud
Leyson, Mr. Robert William Norman
Harknett, Miss. Alice Phoebe
Hold, Mr. Stephen
Collyer, Miss. Marjorie "Lottie"
Pengelly, Mr. Frederick William
Hunt, Mr. George Henry
Zabour, Miss. Thamine
Murphy, Miss. Katherine "Kate"
Coleridge, Mr. Reginald Charles
Maenpaa, Mr. Matti Alexanteri
Attalah, Mr. Sleiman
Minahan, Dr. William Edward
Lindahl, Miss. Agda Thorilda Viktoria
Hamalainen, Mrs. William (Anna)
Beckwith, Mr. Richard Leonard
Carter, Rev. Ernest Courtenay
Reed, Mr. James George
Strom, Mrs. Wilhelm (Elna Matilda Persson)
Stead, Mr. William Thomas
Lobb, Mr. William Arthur
Rosblom, Mrs. Viktor (Helena Wilhelmina)
Touma, Mrs. Darwis (Hanne Youssef Razi)
Thorne, Mrs. Gertrude Maybelle
Cherry, Miss. Gladys
Ward, Miss. Anna
Parrish, Mrs. (Lutie Davis)
Smith, Mr. Thomas
Asplund, Master. Edvin Rojj Felix
Taussig, Mr. Emil
Harrison, Mr. William
Henry, Miss. Delia
Reeves, Mr. David
Panula, Mr. Ernesti Arvid
Persson, Mr. Ernst Ulrik
Graham, Mrs. William Thompson (Edith Junkins)
Bissette, Miss. Amelia
Cairns, Mr. Alexander
Tornquist, Mr. William Henry
Mellinger, Mrs. (Elizabeth Anne Maidment)
Natsch, Mr. Charles H
Healy, Miss. Hanora "Nora"
Andrews, Miss. Kornelia Theodosia
Lindblom, Miss. Augusta Charlotta
Parkes, Mr. Francis "Frank"
Rice, Master. Eric
Abbott, Mrs. Stanton (Rosa Hunt)
Duane, Mr. Frank
Olsson, Mr. Nils Johan Goransson
de Pelsmaeker, Mr. Alfons
Dorking, Mr. Edward Arthur
Smith, Mr. Richard William
Stankovic, Mr. Ivan
de Mulder, Mr. Theodore
Naidenoff, Mr. Penko
Hosono, Mr. Masabumi
Connolly, Miss. Kate
Barber, Miss. Ellen "Nellie"
Bishop, Mrs. Dickinson H (Helen Walton)
Levy, Mr. Rene Jacques
Haas, Miss. Aloisia
Mineff, Mr. Ivan
Lewy, Mr. Ervin G
Hanna, Mr. Mansour
Allison, Miss. Helen Loraine
Saalfeld, Mr. Adolphe
Baxter, Mrs. James (Helene DeLaudeniere Chaput)
Kelly, Miss. Anna Katherine "Annie Kate"
McCoy, Mr. Bernard
Johnson, Mr. William Cahoone Jr
Keane, Miss. Nora A
Williams, Mr. Howard Hugh "Harry"
Allison, Master. Hudson Trevor
Fleming, Miss. Margaret
Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
Abelson, Mr. Samuel
Francatelli, Miss. Laura Mabel
Hays, Miss. Margaret Bechstein
Ryerson, Miss. Emily Borie
Lahtinen, Mrs. William (Anna Sylfven)
Hendekovic, Mr. Ignjac
Hart, Mr. Benjamin
Nilsson, Miss. Helmina Josefina
Kantor, Mrs. Sinai (Miriam Sternin)
Moraweck, Dr. Ernest
Wick, Miss. Mary Natalie
Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)
Dennis, Mr. Samuel
Danoff, Mr. Yoto
Slayter, Miss. Hilda Mary
Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)
Sage, Mr. George John Jr
Young, Miss. Marie Grice
Nysveen, Mr. Johan Hansen
Ball, Mrs. (Ada E Hall)
Goldsmith, Mrs. Frank John (Emily Alice Brown)
Hippach, Miss. Jean Gertrude
McCoy, Miss. Agnes
Partner, Mr. Austen
Graham, Mr. George Edward
Vander Planke, Mr. Leo Edmondus
Frauenthal, Mrs. Henry William (Clara Heinsheimer)
Denkoff, Mr. Mitto
Pears, Mr. Thomas Clinton
Burns, Miss. Elizabeth Margaret
Dahl, Mr. Karl Edwart
Blackwell, Mr. Stephen Weart
Navratil, Master. Edmond Roger
Fortune, Miss. Alice Elizabeth
Collander, Mr. Erik Gustaf
Sedgwick, Mr. Charles Frederick Waddington
Fox, Mr. Stanley Hubert
Brown, Miss. Amelia "Mildred"
Smith, Miss. Marion Elsie
Davison, Mrs. Thomas Henry (Mary E Finck)
Coutts, Master. William Loch "William"
Dimic, Mr. Jovan
Odahl, Mr. Nils Martin
Williams-Lambert, Mr. Fletcher Fellows
Elias, Mr. Tannous
Arnold-Franchi, Mr. Josef
Yousif, Mr. Wazli
Vanden Steen, Mr. Leo Peter
Bowerman, Miss. Elsie Edith
Funk, Miss. Annie Clemmer
McGovern, Miss. Mary
Mockler, Miss. Helen Mary "Ellie"
Skoog, Mr. Wilhelm
del Carlo, Mr. Sebastiano
Barbara, Mrs. (Catherine David)
Asim, Mr. Adola
O'Brien, Mr. Thomas
Adahl, Mr. Mauritz Nils Martin
Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
Moussa, Mrs. (Mantoura Boulos)
Jermyn, Miss. Annie
Aubart, Mme. Leontine Pauline
Harder, Mr. George Achilles
Wiklund, Mr. Jakob Alfred
Beavan, Mr. William Thomas
Ringhini, Mr. Sante
Palsson, Miss. Stina Viola
Meyer, Mrs. Edgar Joseph (Leila Saks)
Landergren, Miss. Aurora Adelia
Widener, Mr. Harry Elkins
Betros, Mr. Tannous
Gustafsson, Mr. Karl Gideon
Bidois, Miss. Rosalie
Nakid, Miss. Maria ("Mary")
Tikkanen, Mr. Juho
Holverson, Mrs. Alexander Oskar (Mary Aline Towner)
Plotcharsky, Mr. Vasil
Davies, Mr. Charles Henry
Goodwin, Master. Sidney Leonard
Buss, Miss. Kate
Sadlier, Mr. Matthew
Lehmann, Miss. Bertha
Carter, Mr. William Ernest
Jansson, Mr. Carl Olof
Gustafsson, Mr. Johan Birger
Newell, Miss. Marjorie
Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)
Johansson, Mr. Erik
Olsson, Miss. Elina
McKane, Mr. Peter David
Pain, Dr. Alfred
Trout, Mrs. William H (Jessie L)
Niskanen, Mr. Juha
Adams, Mr. John
Jussila, Miss. Mari Aina
Hakkarainen, Mr. Pekka Pietari
Oreskovic, Miss. Marija
Gale, Mr. Shadrach
Widegren, Mr. Carl/Charles Peter
Richards, Master. William Rowe
Birkeland, Mr. Hans Martin Monsen
Lefebre, Miss. Ida
Sdycoff, Mr. Todor
Hart, Mr. Henry
Minahan, Miss. Daisy E
Cunningham, Mr. Alfred Fleming
Sundman, Mr. Johan Julian
Meek, Mrs. Thomas (Annie Louise Rowley)
Drew, Mrs. James Vivian (Lulu Thorne Christian)
Silven, Miss. Lyyli Karoliina
Matthews, Mr. William John
Van Impe, Miss. Catharina
Gheorgheff, Mr. Stanio
Charters, Mr. David
Zimmerman, Mr. Leo
Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)
Rosblom, Mr. Viktor Richard
Wiseman, Mr. Phillippe
Clarke, Mrs. Charles V (Ada Maria Winfield)
Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")
Flynn, Mr. James
Pickard, Mr. Berk (Berk Trembisky)
Bjornstrom-Steffansson, Mr. Mauritz Hakan
Thorneycroft, Mrs. Percival (Florence Kate White)
Louch, Mrs. Charles Alexander (Alice Adelaide Slow)
Kallio, Mr. Nikolai Erland
Silvey, Mr. William Baird
Carter, Miss. Lucile Polk
Ford, Miss. Doolina Margaret "Daisy"
Richards, Mrs. Sidney (Emily Hocking)
Fortune, Mr. Mark
Kvillner, Mr. Johan Henrik Johannesson
Hart, Mrs. Benjamin (Esther Ada Bloomfield)
Hampe, Mr. Leon
Petterson, Mr. Johan Emil
Reynaldo, Ms. Encarnacion
Johannesen-Bratthammer, Mr. Bernt
Dodge, Master. Washington
Mellinger, Miss. Madeleine Violet
Seward, Mr. Frederic Kimber
Baclini, Miss. Marie Catherine
Peuchen, Major. Arthur Godfrey
West, Mr. Edwy Arthur
Hagland, Mr. Ingvald Olai Olsen
Foreman, Mr. Benjamin Laventall
Goldenberg, Mr. Samuel L
Peduzzi, Mr. Joseph
Jalsevac, Mr. Ivan
Millet, Mr. Francis Davis
Kenyon, Mrs. Frederick R (Marion)
Toomey, Miss. Ellen
O'Connor, Mr. Maurice
Anderson, Mr. Harry
Morley, Mr. William
Gee, Mr. Arthur H
Milling, Mr. Jacob Christian
Maisner, Mr. Simon
Goncalves, Mr. Manuel Estanslas
Campbell, Mr. William
Smart, Mr. John Montgomery
Scanlan, Mr. James
Baclini, Miss. Helene Barbara
Keefe, Mr. Arthur
Cacic, Mr. Luka
West, Mrs. Edwy Arthur (Ada Mary Worth)
Jerwan, Mrs. Amin S (Marie Marthe Thuillard)
Strandberg, Miss. Ida Sofia
Clifford, Mr. George Quincy
Renouf, Mr. Peter Henry
Braund, Mr. Lewis Richard
Karlsson, Mr. Nils August
Hirvonen, Miss. Hildur E
Goodwin, Master. Harold Victor
Frost, Mr. Anthony Wood "Archie"
Rouse, Mr. Richard Henry
Turkula, Mrs. (Hedwig)
Bishop, Mr. Dickinson H
Lefebre, Miss. Jeannie
Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
Kent, Mr. Edward Austin
Somerton, Mr. Francis William
Coutts, Master. Eden Leslie "Neville"
Hagland, Mr. Konrad Mathias Reiersen
Windelov, Mr. Einar
Molson, Mr. Harry Markland
Artagaveytia, Mr. Ramon
Stanley, Mr. Edward Roland
Yousseff, Mr. Gerious
Eustis, Miss. Elizabeth Mussey
Shellard, Mr. Frederick William
Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
Svensson, Mr. Olof
Calic, Mr. Petar
Canavan, Miss. Mary
O'Sullivan, Miss. Bridget Mary
Laitinen, Miss. Kristina Sofia
Maioni, Miss. Roberta
Penasco y Castellana, Mr. Victor de Satode
Quick, Mrs. Frederick Charles (Jane Richards)
Bradley, Mr. George ("George Arthur Brayton")
Olsen, Mr. Henry Margido
Lang, Mr. Fang
Daly, Mr. Eugene Patrick
Webber, Mr. James
McGough, Mr. James Robert
Rothschild, Mrs. Martin (Elizabeth L. Barrett)
Coleff, Mr. Satio
Walker, Mr. William Anderson
Lemore, Mrs. (Amelia Milley)
Ryan, Mr. Patrick
Angle, Mrs. William A (Florence "Mary" Agnes Hughes)
Pavlovic, Mr. Stefo
Perreault, Miss. Anne
Vovk, Mr. Janko
Lahoud, Mr. Sarkis
Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
Kassem, Mr. Fared
Farrell, Mr. James
Ridsdale, Miss. Lucy
Farthing, Mr. John
Salonen, Mr. Johan Werner
Hocking, Mr. Richard George
Quick, Miss. Phyllis May
Toufik, Mr. Nakli
Elias, Mr. Joseph Jr
Peter, Mrs. Catherine (Catherine Rizk)
Cacic, Miss. Marija
Hart, Miss. Eva Miriam
Butt, Major. Archibald Willingham
LeRoy, Miss. Bertha
Risien, Mr. Samuel Beard
Frolicher, Miss. Hedwig Margaritha
Crosby, Miss. Harriet R
Andersson, Miss. Ingeborg Constanzia
Andersson, Miss. Sigrid Elisabeth
Beane, Mr. Edward
Douglas, Mr. Walter Donald
Nicholson, Mr. Arthur Ernest
Beane, Mrs. Edward (Ethel Clarke)
Padro y Manent, Mr. Julian
Goldsmith, Mr. Frank John
Davies, Master. John Morgan Jr
Thayer, Mr. John Borland Jr
Sharp, Mr. Percival James R
O'Brien, Mr. Timothy
Leeni, Mr. Fahim ("Philip Zenni")
Ohman, Miss. Velin
Wright, Mr. George
Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")
Robbins, Mr. Victor
Taussig, Mrs. Emil (Tillie Mandelbaum)
de Messemaeker, Mrs. Guillaume Joseph (Emma)
Morrow, Mr. Thomas Rowan
Sivic, Mr. Husein
Norman, Mr. Robert Douglas
Simmons, Mr. John
Meanwell, Miss. (Marion Ogden)
Davies, Mr. Alfred J
Stoytcheff, Mr. Ilia
Palsson, Mrs. Nils (Alma Cornelia Berglund)
Doharr, Mr. Tannous
Jonsson, Mr. Carl
Harris, Mr. George
Appleton, Mrs. Edward Dale (Charlotte Lamson)
Flynn, Mr. John Irwin ("Irving")
Kelly, Miss. Mary
Rush, Mr. Alfred George John
Patchett, Mr. George
Garside, Miss. Ethel
Silvey, Mrs. William Baird (Alice Munger)
Caram, Mrs. Joseph (Maria Elias)
Jussila, Mr. Eiriik
Christy, Miss. Julie Rachel
Thayer, Mrs. John Borland (Marian Longstreth Morris)
Downton, Mr. William James
Ross, Mr. John Hugo
Paulner, Mr. Uscher
Taussig, Miss. Ruth
Jarvis, Mr. John Denzil
Frolicher-Stehli, Mr. Maxmillian
Gilinski, Mr. Eliezer
Murdlin, Mr. Joseph
Rintamaki, Mr. Matti
Stephenson, Mrs. Walter Bertram (Martha Eustis)
Elsbury, Mr. William James
Bourke, Miss. Mary
Chapman, Mr. John Henry
Van Impe, Mr. Jean Baptiste
Leitch, Miss. Jessie Wills
Johnson, Mr. Alfred
Boulos, Mr. Hanna
Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)
Slabenoff, Mr. Petco
Harrington, Mr. Charles H
Torber, Mr. Ernst William
Homer, Mr. Harry ("Mr E Haven")
Lindell, Mr. Edvard Bengtsson
Karaic, Mr. Milan
Daniel, Mr. Robert Williams
Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)
Shutes, Miss. Elizabeth W
Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)
Jardin, Mr. Jose Neto
Murphy, Miss. Margaret Jane
Horgan, Mr. John
Brocklebank, Mr. William Alfred
Herman, Miss. Alice
Danbom, Mr. Ernst Gilbert
Lobb, Mrs. William Arthur (Cordelia K Stanlick)
Becker, Miss. Marion Louise
Gavey, Mr. Lawrence
Yasbeck, Mr. Antoni
Kimball, Mr. Edwin Nelson Jr
Nakid, Mr. Sahid
Hansen, Mr. Henry Damsgaard
Bowen, Mr. David John "Dai"
Sutton, Mr. Frederick
Kirkland, Rev. Charles Leonard
Longley, Miss. Gretchen Fiske
Bostandyeff, Mr. Guentcho
O'Connell, Mr. Patrick D
Barkworth, Mr. Algernon Henry Wilson
Lundahl, Mr. Johan Svensson
Stahelin-Maeglin, Dr. Max
Parr, Mr. William Henry Marsh
Skoog, Miss. Mabel
Davis, Miss. Mary
Leinonen, Mr. Antti Gustaf
Collyer, Mr. Harvey
Panula, Mrs. Juha (Maria Emilia Ojala)
Thorneycroft, Mr. Percival
Jensen, Mr. Hans Peder
Sagesser, Mlle. Emma
Skoog, Miss. Margit Elizabeth
Foo, Mr. Choong
Baclini, Miss. Eugenie
Harper, Mr. Henry Sleeper
Cor, Mr. Liudevit
Simonius-Blumer, Col. Oberst Alfons
Willey, Mr. Edward
Stanley, Miss. Amy Zillah Elsie
Mitkoff, Mr. Mito
Doling, Miss. Elsie
Kalvik, Mr. Johannes Halvorsen
O'Leary, Miss. Hanora "Norah"
Hegarty, Miss. Hanora "Nora"
Hickman, Mr. Leonard Mark
Radeff, Mr. Alexander
Bourke, Mrs. John (Catherine)
Eitemiller, Mr. George Floyd
Newell, Mr. Arthur Webster
Frauenthal, Dr. Henry William
Badt, Mr. Mohamed
Colley, Mr. Edward Pomeroy
Coleff, Mr. Peju
Lindqvist, Mr. Eino William
Hickman, Mr. Lewis
Butler, Mr. Reginald Fenton
Rommetvedt, Mr. Knud Paust
Cook, Mr. Jacob
Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)
Davidson, Mr. Thornton
Mitchell, Mr. Henry Michael
Wilhelms, Mr. Charles
Watson, Mr. Ennis Hastings
Edvardsson, Mr. Gustaf Hjalmar
Sawyer, Mr. Frederick Charles
Turja, Miss. Anna Sofia
Goodwin, Mrs. Frederick (Augusta Tyler)
Cardeza, Mr. Thomas Drake Martinez
Peters, Miss. Katie
Hassab, Mr. Hammad
Olsvigen, Mr. Thor Anderson
Goodwin, Mr. Charles Edward
Brown, Mr. Thomas William Solomon
Laroche, Mr. Joseph Philippe Lemercier
Panula, Mr. Jaako Arnold
Dakic, Mr. Branko
Fischer, Mr. Eberhard Thelander
Madill, Miss. Georgette Alexandra
Dick, Mr. Albert Adrian
Karun, Miss. Manca
Lam, Mr. Ali
Saad, Mr. Khalil
Weir, Col. John
Chapman, Mr. Charles Henry
Kelly, Mr. James
Mullens, Miss. Katherine "Katie"
Thayer, Mr. John Borland
Humblen, Mr. Adolf Mathias Nicolai Olsen
Astor, Mrs. John Jacob (Madeleine Talmadge Force)
Silverthorne, Mr. Spencer Victor
Barbara, Miss. Saiide
Gallagher, Mr. Martin
Hansen, Mr. Henrik Juul
Morley, Mr. Henry Samuel ("Mr Henry Marshall")
Kelly, Mrs. Florence "Fannie"
Calderhead, Mr. Edward Pennington
Cleaver, Miss. Alice
Moubarek, Master. Halim Gonios ("William George")
Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
Klaber, Mr. Herman
Taylor, Mr. Elmer Zebley
Larsson, Mr. August Viktor

### Discussion: 
Take 2 minutes and explore these with the person(s) sitting next to you. Find the answers to the questions below and the code blocks that follow.

- How many rows are there in this part of the dataset?
- How many columns are there?
- What are the columns called?
- What does each column stand for? Feel free to google to find the answer to this.

## Task 2.1: Find what percentage people survived?

In [ ]:
survived=0
total = 0

with open('data/train.csv', mode='r') as data:
    titanic = csv.DictReader(data)
    for line in titanic:
        # write your code here
        pass
        
        
print (100*survived/total)

## Task 2.2: Find the oldest person

In [ ]:
max_age = 0
oldestperson = None

with open('data/train.csv', mode='r') as data:
    titanic = csv.DictReader(data)
    for line in titanic:
        # write your code here
        pass
    
            
print (oldestperson)

## Task 2.3: Find what percent of people travelling in the First Class survived?

In [ ]:
survived=0
total = 0

with open('data/train.csv', mode='r') as data:
    titanic = csv.DictReader(data)
    for line in titanic:
        # write your code here
        pass

print (100*survived/total)

# 3. Data as a Table

**Pandas** is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language. The name is crunched form of **pan**el **da**ta.

Not only is the pandas library a central component of the data science toolkit but it is used in conjunction with other libraries in that collection. Pandas is built on top of the NumPy package, meaning a lot of the structure of NumPy is used or replicated in Pandas. Data in pandas is often used to feed statistical analysis in SciPy, plotting functions from Matplotlib, and machine learning algorithms in Scikit-learn.


### Spreadsheets to DataFrame
When working with tabular data, such as data stored in spreadsheets or databases, pandas is the right tool for you. pandas will help you to explore, clean and process your data. In pandas, a data table is called a DataFrame.

![](https://pandas.pydata.org/docs/_images/01_table_dataframe.svg)

In [29]:
import pandas as pd
print (pd.__version__)

1.4.1

If you see any error while running the previous line, there was possibly some issue with pandas installation.

## Task 3.1 Read the dataset using Pandas

In [31]:
titanic = None
filepath = "../data/train.csv"
titanic  = pd.read_csv(filepath)

In [40]:
titanic[   titanic['Survived']==1   ]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

### 3.2 What is the datatype of this object?

In [ ]:
type(titanic)

### 3.3 Read first 3 rows of the dataset

In [34]:
titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

### 3.4 Read last 3 rows of the dataset

In [35]:
titanic.tail(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

### 3.5 What are all the columns?

In [36]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### 3.6 Short Side-Quest

Convert dataset into a two-dimensional numpy array using `df.values` and find the number of people who survived.

# 4. Pandas for Data Analysis in Python

### Why Pandas?
- Fast and efficient DataFrame object with default and customized indexing.
- Tools for loading data into in-memory data objects from different file formats.
- Data alignment and integrated handling of missing data.
- Reshaping and pivoting of date sets.
- Label-based slicing, indexing and subsetting of large data sets.
- Columns from a data structure can be deleted or inserted.
- Group by data for aggregation and transformations.
- High performance merging and joining of data.


### Multi-Format Support
Pandas supports the integration with many file formats or data sources out of the box (csv, excel, sql, json, parquet,…). Importing data from each of these data sources is provided by function with the prefix `read_*`. Similarly, the `to_*` methods are used to store data.

![https://pandas.pydata.org/docs/_images/02_io_readwrite.svg](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)



### Analysis and Visualization
Basic statistics (mean, median, min, max, counts…) are easily calculable. These or custom aggregations can be applied on the entire data set, a sliding window of the data or grouped by categories. The latter is also known as the split-apply-combine approach.

Pandas provides plotting your data out of the box, using the power of Matplotlib. You can pick the plot type (scatter, bar, boxplot,…) corresponding to your data.

![](https://pandas.pydata.org/docs/_images/04_plot_overview.svg)


# Pandas Data Structures

The core components of Pandas are **DataFrame** and **Series**. 

![](https://www.kdnuggets.com/wp-content/uploads/pandas-02.png)

In [41]:
data = {"Country":["The Netherlands", "Belgium","India","Brazil"],
       "Capital":["Amsterdam", "Brussels","New Delhi","Brasilia"],
       "Population":[17000000,  11122233, 1300000000, 207855000]}
df = pd.DataFrame(data, columns=['Country','Capital','Population'])
df

           Country    Capital  Population
0  The Netherlands  Amsterdam    17000000
1          Belgium   Brussels    11122233
2            India  New Delhi  1300000000
3           Brazil   Brasilia   207855000

### 4.1 Print summary statistics of the dataset

In [42]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

# Data Exploration and Summarization

In [43]:
titanic['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [44]:
titanic['Survived']==1

0      False
1       True
2       True
3       True
4      False
       ...
886    False
887     True
888    False
889     True
890    False
Name: Survived, Length: 891, dtype: bool

In [45]:
titanic[titanic['Survived']==1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [46]:
titanic[titanic['Survived']==1][['Name','Age','Sex']]

                                                  Name   Age     Sex
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0  female
2                               Heikkinen, Miss. Laina  26.0  female
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  female
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  27.0  female
9                  Nasser, Mrs. Nicholas (Adele Achem)  14.0  female
..                                                 ...   ...     ...
875                   Najib, Miss. Adele Kiamie "Jane"  15.0  female
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  56.0  female
880       Shelley, Mrs. William (Imanita Parrish Hall)  25.0  female
887                       Graham, Miss. Margaret Edith  19.0  female
889                              Behr, Mr. Karl Howell  26.0    male

[342 rows x 3 columns]

### 4.2 Find average age of people who survived

In [49]:
titanic[titanic['Survived']==1] ['Age'].mean()

28.343689655172415

In [50]:
titanic[titanic['Survived']==0] ['Age'].mean()

30.62617924528302

### 4.3 Find how many people whose name contains 'Mark' survived

In [ ]:
titanic[titanic['Name'].str.contains("Mark")]

### 4.4 Find survival rate of all the people who are either female or child (age<12)

In [ ]:
titanic['Sex']=='female'

In [55]:
titanic[(titanic['Sex']=='female') | (titanic['Age']<12)][titanic[(titanic['Sex']=='female') | (titanic['Age']<12)] ['Survived']==1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S

### 4.5 Find the opposite

## Modifying the Dataframe

### 4.6 Add new column based on other columns

Create a new column so that we have information about whether a person is a child, or an older male or a female.

In [ ]:
# This block shows a function that returns a value, but it doesn't work with a dataframe

def male_female_child(age, sex):
    if age<12:
        return 'child'
    else:
        return sex

In [ ]:
male_female_child(15, 'male')

In [ ]:
male_female_child(11, 'male')

In [ ]:
male_female_child(16, 'female')

In [ ]:
def male_female_child(passenger):
    # Change the function so that it creates the new column
    return None


# The function should be called like the following. You can use the same line to run the function.

titanic[['Age','Sex']].apply(male_female_child, axis=1)

### 4.7 Find the survival rate of men above the age of 40 (excluding 40)

Work with your neighbours to find solution of this. The final answer should be a percentage. 

This can also be rephrased as "If you are a man above the age of 40, what are the %age chances that you would have survived titanic disaster?" 
or
"What percentage of men older than 40 aboard the titanic survived?"

In [ ]:
# Show the survival data

###  4.8 Find the survival rate of people in the first class

Can you conclude anything based on this?

In [ ]:
# Show the survival data

# 5. Visualization

Visualizations help us get a more detailed yet crisp picture of the dataset. 

### Plot a histogram of Ages

In [ ]:
titanic['Age'].plot(kind='hist')

### Plot a histogram of Fares

# Introducing Seaborn

Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.

![](https://livecodestream.dev/post/how-to-build-beautiful-plots-with-python-and-seaborn/featured.jpg)

### Import (if required, install) Seaborn

In [ ]:
# %pip install seaborn

In [ ]:
import seaborn as sns

### Show the count of men, women and children across each passenger class

In [ ]:
titanic['person'] = titanic[['Age','Sex']].apply(male_female_child, axis=1) 

sns.catplot(x='Pclass', data=titanic, kind='count', hue='person')

#### Alternate way of looking at the same data

Notice how crosstabulation function helps us get a crisp perspective about the data which is in categorical form

In [ ]:
pd.crosstab(index = titanic['Pclass'], columns = titanic['person'])

In [ ]:
pd.crosstab(index = titanic['Pclass'], columns = titanic['person']).plot(kind='bar', stacked=True)

### Show a swarmplot showing ages of people who survived

In [ ]:
import  matplotlib.pyplot as plt
plt.figure(figsize=(12,8))
# Put your code here
plt.show()

### Show bar-charts indicating number of people across each class, further divided across survival status

In [ ]:
pd.crosstab( titanic.Survived ,titanic.Pclass).plot(kind="bar")

### Find if how rich you were determined if you would have survived

Box plot is another way to understand the distribution. It removes the outliers and show us where the median (exact middle of the data) and the 1st quartile and 3rd quartile exist. It is a crisp yet detailed way to understand the data.

In [ ]:
plt.figure(figsize=(12,10))
# Create a boxplot with x=survived, y=fare
plt.xticks(rotation=45)
plt.show()

### Back to the original question

Use countplot to show the how many men, women and child survived or didn't survive

In [ ]:
plt.figure(figsize=(12,10))
sns.countplot('person', hue ='Survived', data=titanic)
plt.show()

### Point Plot

A point plot represents an estimate of central tendency for a numeric variable by the position of scatter plot points and provides some indication of the uncertainty around that estimate using error bars.

Point plots can be more useful than bar plots for focusing comparisons between different levels of one or more categorical variables. They are particularly adept at showing interactions: how the relationship between levels of one categorical variable changes across levels of a second categorical variable. The lines that join each point from the same hue level allow interactions to be judged by differences in slope, which is easier for the eyes than comparing the heights of several groups of points or bars.

### Create a point plot between Passenger class and Survived

### Create a point plot between Passenger class and Survived grouped by Sex

### Create a linear regression model based plot between Age and Survival

Note: Linear regression is not best suited for these problems and we will look at alternatives later, however this indicates the general trend in the data that we wish to find.

In [ ]:
sns.lmplot('Age','Survived', data=titanic, hue='Sex')

## Task: Is it better to travel with family?

Create a new column called **Partners**. If the person is a parent travelling with a child, or a child with a parent, or someone travelling with a sibling, that indicates they are travelling with family, otherwise they are travelling alone. The column called partners should contain the value "with family" if someone is travelling with parents, children, siblings, or spouse; "alone" if travelling alone.

In [ ]:
# Modify this line. It might require more than one line of code

titanic['Alone'] = None

In [ ]:
sns.lmplot('Age','Survived', data=titanic, hue='Alone')

### Does the city where you embarked have any impact?

In [ ]:
plt.figure(figsize=(12,10))
# Complete the following line
sns.catplot()
plt.show()

# Conclusion

Classroom discussion on what we can conclude from this analysis of the dataset.

-